@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
    --background-col:hsl(185, 41%, 84%);
    --white-color:hsl(0, 0%, 100%);
    --light-grey:hsl(189, 41%, 97%);
    --mid-grey:hsl(186, 14%, 43%);
    --light-blue:hsl(172, 67%, 45%);
    --dark-blue:hsl(183, 100%, 15%);;
    --error-color:maroon;
}


* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;

}

body {
    background-color: var(--background-col);
}


.form {
    display:flex;
    background-color: var(--white-color);
    width: 900px;
    height: 445px;
    border-radius: 20px;
    margin: 100px auto 0;
    padding: 20px;
}

.form__left {
    width: 50%;
    height: 100%;
    padding: 10px;
}

.form__right {
    background-color: var(--dark-blue);
    width: 50%;
    height: 100%;
    border-radius: 15px;
}

.label--grey {
    color:var(--mid-grey);
    font-weight: 700;
    margin-bottom: 5px;
    
}

.label--inline {
    display: inline-block;
}



.label--error {
    color:var(--error-color);
    font-weight: 700;
    margin-left: 60px;
    visibility:hidden;
    
    
}

.label--white {
    color:var(--white-color);
    margin-bottom: 3px;
}

.label--grey-small {
    color:hsl(184, 14%, 56%);
    font-size: 0.9rem;
    font-weight: 700;
}

.textbox {
    width: 90%;
    height: 35px;
    padding: 0 12px;
    background-color: var(--light-grey);
    border-style: none;
    border-radius: 5px;
    text-align: right;
    
    background-repeat: no-repeat;
    background-position: 5% 50%;
    font-size: 24px;
    font-weight: 700;
    color: var(--dark-blue);
}

.textbox--dollar {
    background-image: url("images/icon-dollar.svg");
}

.textbox--dollar:hover,.textbox--people:hover,.textbox--percentage:hover {
    border-style: solid;
    border-color: var(--background-col);
    cursor:pointer;
    transition: border-color 0.15s;
}
.textbox--people {
    background-image: url("images/icon-person.svg");
}


.textbox--error {
    
    border: 1px solid;
    border-color: var(--error-color);
}



.textbox--percentage {
    width: 110px;
    height: 45px;
    background-color: var(--light-grey);
    border-style: none;
    border-radius: 5px;
    color:var(--mid-grey);
    font-size:24px;
    text-align: center;

}


.form__left--section1 {
    width:100%;
    height: 55%;
    padding-top: 40px;
    margin-top: 10px;
    margin-bottom: 15px;
    
}

.form__right--section1 {
    width:100%;
    height: 55%;
    padding-top: 40px;
    padding-left: 40px;
    padding-right:30px;
    margin-top: 10px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    
}

.vButton {
    width: 110px;
    height: 45px;
    background-color: var(--dark-blue);
    margin: 10px 10px 5px 0px;
    border-style: none;
    border-radius: 5px;
    color: var(--white-color);
    font-size:24px;
    

}

.vButton:hover,.vbutton--reset:hover {
    
    background-color: var(--background-col);
    cursor: pointer;
    transition: background-color 0.15s;
}




.Section__label {
    padding-top: 15px;
}


.section__result {
    color:hsl(172, 67%, 45%);
    font-size: 3rem;
    font-weight: 700;
    text-align: right;
}


.section__reset {
    width: 100%;
    text-align: center;
    padding-top: 70px;
}
.vbutton--reset {
    width: 80%;
    height: 45px;
    background-color: var(--light-blue); 
    border-style: none;
    border-radius: 5px;
    color: var(--dark-blue);
    font-size:24px;
}

@media (max-width:750px) {
    .form {
        width: 375px;
        flex-direction:column;
        height:950px;
        /* height: 445px; */
        
    }

    .form__left {
        
        width: 100%;
        height: 48%;
        
    }

    .form__right {
        
        width: 100%;
        height: 40%;
        
    }

    .form__left--section1 {
        
        padding-top: 20px;
        margin-top: 10px;
        margin-bottom: 15px;
        
    }

    .label--grey {
        
        margin-bottom: 0px;
        
    }

    .vButton {
        width: 140px;
        
        
        
        
    
    }

    .textbox--percentage {
        width: 140px;
        
    
    }

    .section__reset {
        
        padding-top: 30px;
    }

}
    
